---
import { Image } from 'astro:assets';
import avatar1 from "@/components/images/avatar1.jpg";
import avatar2 from "@/components/images/avatar2.jpg";
import avatar3 from "@/components/images/avatar3.jpg";
import avatar4 from "@/components/images/avatar4.jpg";
import avatar5 from "@/components/images/avatar5.jpg";
import avatar6 from "@/components/images/avatar6.jpg";
import avatar7 from "@/components/images/avatar7.jpg";
import avatar8 from "@/components/images/avatar8.jpg";
import avatar9 from "@/components/images/avatar9.jpg";
import avatar10 from "@/components/images/avatar10.jpg";
import avatar11 from "@/components/images/avatar11.jpg";

---

<section>
   <div class="avatars">
      <Image class="avatar" src={avatar1} alt="avatar"/>
      <Image class="avatar" src={avatar2} alt="avatar"/>
      <Image class="avatar" src={avatar3} alt="avatar"/>
      <Image class="avatar" src={avatar4} alt="avatar"/>
      <Image class="avatar" src={avatar5} alt="avatar"/>
      <Image class="avatar" src={avatar6} alt="avatar"/>
      <Image class="avatar" src={avatar7} alt="avatar"/>
      <Image class="avatar" src={avatar8} alt="avatar"/>
      <Image class="avatar" src={avatar9} alt="avatar"/>
      <Image class="avatar" src={avatar10} alt="avatar"/>
      <Image class="avatar" src={avatar11} alt="avatar"/>
   </div>

</section>


<style>
   .avatars {
      --avatar-count: 11;
      --avatar-size: 100px;
      --column-size: calc(var(--avatar-size)/1.8);
      --transition-duration: 500ms;

      display: grid;
      grid-template-columns: repeat(var(--avatar-count), var(--column-size));
      transition: grid-template-columns var(--transition-duration);
      transition-delay: var(--transition-duration);
      max-width: 80ch;
      overflow-x: auto;
      padding-block: 4rem;
   }

   .avatars:hover,
   .avatars:focus {
      --column-size: calc(var(--avatar-size) * 1.1);
      transition-delay: 0ms;
   }

   .avatar {
      width: var(--avatar-size);
      height: var(--avatar-size);
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 100vw;
      border: 5px solid var(--clr-white);
      box-shadow: .25rem .25rem .5rem hsl(0 0% 0% / .2);
      transition: scale var(--transition-duration);
   }


   .avatar:hover,
   .avatar:focus {
      scale: 2;
      z-index: 2;
   }

   
   @supports selector(:has(+ *)) {
      .avatar:hover + .avatar,
      .avatar:has( + .avatar:hover)
      {
         scale: 1.5;
         border-color: var(--clr-accent);
      }
   }
</style>